body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #555;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 100px;
  margin-left: 75px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
}

main {
  padding: 20px;
}

.about-section, .services-section, .contact-section {
  margin-bottom: 30px;
}

section h2 {
  margin-bottom: 10px;
}

section p {
  line-height: 1.6;
}

ul {
  list-style: disc;
  padding-left: 100px;
}

form label, form input, form textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

form textarea {
  height: 100px;
}

form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

footer {
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 10px;
}
